body {
  font-family: "Inconsolata", monospace;
  background-color: #aaa;
  text-align: center;
  margin: 0;
}

header {
  margin: 0 auto;
  padding: 30px;
  background: white;
}

.parent {
  width: 650px;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 0 auto 60px auto;
  border: 3px dashed black;
  cursor: pointer;
}

h2 {
  margin: 0 auto 20px auto;
  padding: 30px 0;
  background: #000;
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

.children {
  display: block;
  height: 100px;
  margin: 10px;
  line-height: 70px;
  border: 1px dashed black;
}

.static {
  background: rgba(255, 55, 55, 0.5);
}

.relative {
  background: rgba(255, 255, 55, 0.5);
}

#relative-child2 {
  position: relative;
  top: -30px;
  left: 40px;
}

#relative-child3 {
  position: relative;
  top: -60px;
  left: 80px;
}

.absolute {
  background: rgba(55, 255, 55, 0.5);
}

#absolute-parent {
  position: relative;
}

#absolute-child1 {
  position: absolute;
  top: 70px;
  left: 30px;
  width: 240px;
}

#absolute-child2 {
  position: absolute;
  top: 70px;
  right: 30px;
  width: 240px;
}

#absolute-child3 {
  position: absolute;
  bottom: 40px;
  left: 30px;
  width: 240px;
}

#absolute-child4 {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 240px;
}

#absolute-parent {
  height: 360px;
}

.fixed {
  background: rgba(55, 55, 255, 0.5);
}

#fixed-child2 {
  position: fixed;
  top: 120px;
  left: 40px;
  width: 140px;
  z-index: 10;
}

#fixed-child1 {
  position: fixed;
  top: 120px;
  right: 40px;
  width: 140px;
  z-index: 10;
}

#fixed-child3,
#fixed-child4 {
  position: static;
}

.sticky {
  background: rgba(200, 55, 255, 0.5);
}

#sticky-heading {
  position: sticky;
  top: 0;
  z-index: 5;
}

#sticky-child2 {
  position: sticky;
  top: 80px;
}